<!DOCTYPE html>
<html lang="en">
<head>
  <title>Geneapedia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script type=text/javascript src="{{ url_for('static', filename='json.js') }}"></script>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main') }}">Geneapedia</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('demo') }}">Demo</a></li>
        <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
        <li><a href="{{ url_for('faq') }}">FAQ</a></li>
        <li><a href="{{ url_for('test') }}">Test</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#search">Search</a></li>
  <li><a data-toggle="tab" href="#ins">Insert</a></li>
  <li><a data-toggle="tab" href="#del">Delete</a></li>
</ul>

<div class="tab-content">
  <div id="search" class="tab-pane fade in active">
  <h3>Search</h3>
  <form role="form" action = "search" method="POST" class="form-horizontal" id="SearchForm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="SearchForm">Name</label>
        <div class="col-sm-10">
         <input type="search" class="form-control" id="SearchFormInput" name="search" placeholder="Enter Name or Association">
        </div>
    </div>
    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-default" value="Search"/>
        <input type="button" class="btn btn-default" id="BuildTreeButton" value="Build Tree!"/>
      </div>
    </div>
  </form>
  </div>
  <div id="ins" class="tab-pane fade">
  <h3>Insert</h3>
  <form action = "insert" method="POST" role="form" class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="Name">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Name" name="name" placeholder="e.x. Steve Jobs">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="DateOfBirth">Date of Birth</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="DOB" name="birth" placeholder="YYYY/MM/DD">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="DateOfDeath">Date of Death</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="DateOfDeath" name="death" placeholder="YYYY/MM/DD">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Nationality">Alma Mater</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Nationality" name="almamater" placeholder="Trump University">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Children">Children</label>
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addChild">Add Children</button>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Parents">Parents</label>
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addParent">Add Parent</button>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Spouses">Spouses</label>
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addSpouse">Add Spouses</button>
      </div>
    </div>
    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-default" value="Insert"/>
      </div>
    </div>
  </form>
  </div>
  <div id="del" class="tab-pane fade">
    <h3>Delete</h3>
    <form action="delete" method="POST" role="form" class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="search">Name</label>
        <div class="col-sm-10">
         <input type="search" class="form-control" id="Search" name="name" placeholder="Enter Name or Association">
        </div>
    </div>
    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-default" value="Delete"/>
      </div>
    </div>
  </form>
  </div>
</div>
{% if person is defined %}
<div class="panel panel-default">
  <div class="panel-body">Person</div>
  <div class="panel-footer">{{person|safe}}</div>
</div>
{% endif %}

{% if spouse is defined %}
<div class="panel panel-default">
  <div class="panel-body">Spouses</div>
  <div class="panel-footer">{{spouse|safe}}</div>
</div>
{% endif %}
{% if child is defined %}
<div class="panel panel-default">
  <div class="panel-body">Children</div>
  <div class="panel-footer">{{child|safe}}</div>
</div>
{% endif %}
<img src="{{ url_for('static', filename='Steve_jobs.png') }}"  class="img-responsive " alt="Family Tree">
<!-- Modal Content (popup) -->
<div id="addChild" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search Children</h4>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal" id="childSearchForm">
          <div class="form-group">
            <label class="control-label col-sm-2" for="childSearch">Name</label>
              <div class="col-sm-10">
               <input type="search" class="form-control" id="childSearch" name="childSearch" placeholder="Enter Name or Association">
              </div>
          </div>
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" class="btn btn-default" value="Search"/>
            </div>
          </div>
        </form>
      </div>
      {% if childList is defined %}
      <div class="well well-sm fixed-well">
        <ul class="list-group checked-list-box">
          <li class="list-group-item">Cras justo odio</li>
          {{childList|safe}}
        </ul>        
      </div>
      <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>  
      {% endif %} 
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="addParent" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search Parent</h4>
      </div>
      <div class="modal-body">
        <form action="search" method="POST" role="form" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="search">Name</label>
              <div class="col-sm-10">
               <input type="search" class="form-control" id="Search" name="search" placeholder="Enter Name or Association">
              </div>
          </div>
        </form>
      </div>
      {% if person is defined %}
      <div class="well well-sm fixed-well">
        {{person|safe}}
      </div>  
      {% endif %} 
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="addSpouse" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search Spouse</h4>
      </div>
      <div class="modal-body">
        <form action="search" method="POST" role="form" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="search">Name</label>
              <div class="col-sm-10">
               <input type="search" class="form-control" id="Search" name="search" placeholder="Enter Name or Association">
              </div>
          </div>
        </form>
      </div>
      {% if person is defined %}
      <div class="well well-sm fixed-well">
        {{person|safe}}
      </div>  
      {% endif %} 
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
